service cloud.firestore {
  match /databases/{database}/documents {
  function authenticated() { return request.auth.uid != null }
  function isMe() { return request.auth.uid == request.resource.data.userId }
  
    match /users/{userId} {
       allow get: if authenticated();
			 allow list: if authenticated();
       allow create: if authenticated() && isMe();
       allow update, delete: if authenticated() && isMe();
    }

    match /users/{userId}/products/{productId} {
      allow get: if authenticated();
			allow list: if authenticated();
      allow create: if authenticated() && isMe();
      allow update, delete: if authenticated() && isMe();
    }
  }
}