/* Navbar */

$navbar-height: 56px;
$navbar-color: #35495e;
$navbar-offline-color: #333;
$navbar-link-color: #bbb;
$navbar-link-active-color: white;

/* Misc */

$vue-color: #54bf8e;
$danger-color: #ea4d46;
