/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
$navbar-link-active-color: $vue-color;
